//
//@font-face {
//  font-family: 'bold';
//  src: url('./font/NotoSansHans-Regular.otf');
//}
//
//@font-face {
//  font-family: 'regular';
//  src: url('./font/NotoSansHans-Light.otf');
//}

body {
  margin: 0;
  color: white;
  font-size: 16px;
  font-family: 'regular', 'SourceHanSansCN', 'Microsoft YaHei', '微软雅黑', 'STXihei', '华文细黑', 'sans-serif';
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.mainContainer {
  position: relative;
  @media screen and (max-device-width: 1080px), (max-width: 600px) {
    //padding-top: 85px;
  }
}
.main {
  max-width: 100vw;
  min-height: 100vh;
  z-index: 100;
}

.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #0000008a;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}