.titleBig {
  font-size: 36px;
  font-family: 'bold';
}

.title {
  font-size: 24px;
  font-family: 'bold';
}

.textBig {
  font-size: 22px;
}

.text {
  font-size: 16px;
  font-weight: 100;
  text-align: justify;
}

.textSmall {
  font-size: 14px;
}